<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SmtpMailClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
      <SmtpMailClient.Properties.Settings>
        <setting name="SmtpServer" serializeAs="String">
          <value />
        </setting>
        <setting name="SmtpPort" serializeAs="String">
          <value>25</value>
        </setting>
        <setting name="SmtpUser" serializeAs="String">
          <value />
        </setting>
        <setting name="SmtpPassword" serializeAs="String">
          <value />
        </setting>
        <setting name="FromUser" serializeAs="String">
          <value />
        </setting>
        <setting name="MaxMailSize" serializeAs="String">
          <value>5120</value>
        </setting>
        <setting name="MAPIreg" serializeAs="String">
          <value>False</value>
        </setting>
        <setting name="Culture" serializeAs="String">
          <value />
        </setting>
        <setting name="HTMLMailbody" serializeAs="String">
          <value>False</value>
        </setting>
      </SmtpMailClient.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
